# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Env & secrets
.env
**/.env
!.env.example

# Node
token_server/node_modules/
token_server/data/
token_server/uploads/

# OS
.DS_Store
Thumbs.db
